{% extends 'base.html.twig' %}

{% block body %}
	<div class="header">
		<img src="{{ asset('img/header.jpg')}}">
		<div class="name">
			<span></span> JUICE MART</p>
		</div>
	</div>
	<div class="nav">
		<box-icon name='menu-alt-left' color='#d6d00a'></box-icon>
		<ul>
			<a href="{{path('home')}}">
				<li>
					<box-icon name='home' color='#d6d00a'></box-icon></box-icon>
                    <span style="color:antiquewhite;"> Home</span>
				</li>
			</a>
			<a href="{{path('product_index')}}">
				<li>
					<box-icon name='shopping-bag' color='#d6d00a'></box-icon>
                    <span style="color:antiquewhite;"> Product</span>
				</li>
			</a>
			<a href="{{path('app_login')}}">
				<li>
					<box-icon name='user' color='#d6d00a'></box-icon>
                    <span style="color:antiquewhite;"> Admin Login</span>
				</li>
			</a>
			<a href="{{path('aboutus')}}">
				<li>
					<box-icon name='info-circle' color='#d6d00a'></box-icon>
                    <span style="color:antiquewhite;"> About Us</span>
				</li>
			</a>
		</ul>
	</div>
{% endblock %}

