{% extends "base.html.twig" %}
{% block body %}
<div class="headerimg">
    <img src="{{asset('img/headertop.jpg')}}" style="width: 100%;">
    <div class="headername">   
			<span></span> PRODUCTION</p>
			
    </div>
</div>
<div class="category" style="font-weight: bold; font-size: 1.4rem;">
    <div class="home">
    <a href="{{path('home')}}"><box-icon name='home' color='#e2bf3f' ></box-icon></a>
    </div>
        <a href="{{path('product_index')}}"><p>All</p></a>
        <p>&nbsp</p>
        <p>&nbsp</p>
        <p>&nbsp</p>
        <p>&nbsp</p>
        <p>|</p>
        <p>&nbsp</p>
        <p>&nbsp</p>
        <p>&nbsp</p>
        <p>&nbsp</p>
    {% for category in categories %}
    <a href="{{path('product_category', {'cateid' : category.id})}}"><p>{{category.name}}</p></a>
    {% if category.name == "Lonely Juice"%}
        <p>&nbsp</p>
        <p>&nbsp</p>
        <p>&nbsp</p>
        <p>&nbsp</p>
        <p>|</p>
        <p>&nbsp</p>
        <p>&nbsp</p>
        <p>&nbsp</p>
        <p>&nbsp</p>
    {% endif %} 
    {% endfor %}
    
</div>
<div class="search">
        <form action="{{ path('product_search') }}" method="post">
            <input type="search" name="search_product" required class="form-control"
            placeholder="Ur wish" style="text-align: center;">
        </form>
    </div>
<div class="main-product">
    {% for product in products %}
        <div class="productbox">
        <img src="{{product.img}}" width="300" height="300">
        <p>{{product.name}}</p>
        <p>{{product.price}} $</p>
        </div>
    {% endfor %}
    </div>
{% endblock %}
